.card {
  width: min(26.875rem, 100%);
  background: var(--theme-surface-white);
  border-radius: 0.3125rem;
  padding: 1rem;
  cursor: pointer;

  &__title {
    margin-bottom: 0.625rem;
  }

  &__img img {
    width: 100%;
    border-radius: 0.3125rem;
    display: block;
  }

  &__description {
    margin-top: 0.625rem;

    p {
      color: var(--theme-text-secondary);
    }

    .author {
      margin-top: 1rem;
      text-align: end;

      span {
        font-weight: bold;
      }
    }
  }
}
